; Mounts TrueCrypt volumes as a specified user (with sudo), runs fsck
; on them, and executes an optional per volume custom script.

[Unit]
Description = VeraCrypt volumes mounter
ConditionFileIsExecutable = /opt/systemd-units/vc-mounter.rb
DefaultDependencies = no
RequiresMountsFor   = /
Requires  = sysinit.target local-fs.target
After     = sysinit.target local-fs.target
Before    = shutdown.target kexec.target basic.target dbus.service
Conflicts = shutdown.target kexec.target

[Install]
WantedBy  = basic.target multi-user.target

[Service]
Type      = oneshot
ExecStart = /opt/systemd-units/vc-mounter.rb mount  -c
ExecStop  = /opt/systemd-units/vc-mounter.rb umount -f
#ExecStop = /opt/systemd-units/vc-mounter-test.sh
RemainAfterExit   = yes
SuccessExitStatus = 1
StandardOutput    = journal+console
