; Mounts TrueCrypt volumes as a specified user (with sudo), runs fsck
; on them, and executes an optional per volume custom script.

[Unit]
Description = VeraCrypt volumes mounter (headless)
ConditionFileIsExecutable = /opt/systemd-units/vc-mounter.rb
DefaultDependencies = no
Requires  = sysinit.target local-fs.target
After     = multi-user.target
Before    = shutdown.target dbus.service
Conflicts = shutdown.target

[Service]
Type      = oneshot
ExecStart = /bin/true
ExecStop  = /opt/systemd-units/vc-mounter.rb umount -f
#ExecStop  = /opt/systemd-units/vc-mounter-test.sh
RemainAfterExit   = yes
SuccessExitStatus = 1
StandardOutput    = journal+console

[Install]
WantedBy  = multi-user.target
